/*!
 *
 * ======================================================================
 * 00. FONTS
 * ======================================================================
 *
 */


 /**
 * FONTS
 * -------------------------------------------------------------------
 */

// ==> Font Family
$ff-base: -apple-system;
$ff-primary: "Merriweather", Helvetica, sans-serif;
$ff-secondary: "Rubik", Arial, Helvetica, sans-serif;

// ==> Font Size
$fs-base: 13px;

$fs-small: 16px;
$fs-xsmall: 18px;
$fs-medium: 20px;
$fs-xmedium: 24px;
$fs-large: 28px;
$fs-xlarge: 32px;
$fs-big: 40px;
$fs-xbig: 52px;

// ==> Font Size Buttom
$fs-buttom: 20px;
$fs-xbuttom: 28px;

// ==> Font Size Form
$fs-input: 20px;
$fs-xinput: 28px;

// ==> Font Size Text
$fs-paragraph: 21px;
$fs-title: 36px;
$fs-subtitle: 28px;
$fs-hero: 48px;

// ==> Font Weight
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 800;