/*!
 *
 * ======================================================================
 * 00. ANIMATIONS
 * ======================================================================
 * 
 */


/**
* Gradient mixin
* -------------------------------------------------------------------
* 
*/

@mixin linearGradientTopBottom($top, $bottom){
  background: $top; /* Old browsers */
  background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@mixin linearGradientLeftRight($left, $right){
background: $left; /* Old browsers */
background: -moz-linear-gradient(left, $left 0%, $right 100%);
background: -webkit-linear-gradient(left, $left 0%,$right 100%);
background: linear-gradient(to right, $left 0%,$right 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=1 );
}

@mixin linearDiagGradientBottomTop($bottom, $top){
background: $bottom; /* Old browsers */
background: -moz-linear-gradient(45deg, $bottom 0%, $top 70%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, $bottom 0%,$top 70%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, $bottom 0%,$top 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$bottom', endColorstr='$top',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

