// ===================================================================
// 01. Heading Mixins
// ===================================================================
// h1 { @include heading-1; }
// h2 { @include heading-2; }
// h3 { @include heading-3; }
// h4 { @include heading-4; }


@mixin heading {
    @include title-face;
    margin-bottom: 0.35em;
    line-height: 1.2;
    color: inherit;
    a {
      @include heading-link;
    }
  }
  
  @mixin heading-1 {
    @include heading;
    font-size: 3.375em;
  }
  
  @mixin heading-2 {
    @include heading;
    font-size: 2.966em;
  }
  
  @mixin heading-3 {
    @include heading;
    font-size: 1.5em;
  }
  
  @mixin heading-4 {
    @include heading;
    font-size: 1.318em;
  }
  
  @mixin heading-5 {
    @include heading;
    font-size: 1em;
  }
  
  @mixin heading-6 {
    @include heading;
    font-size: 0.875em;
  }
  

  // @each $header, $size in (h1: 2em, h2: 1.5em, h3: 1.2em) {
  //   #{$header} {
  //     font-size: $size;
  //   }
  // }