/*!
 *
 * ======================================================================
 * 00. ICONS
 * ======================================================================
 * https://alligator.io/css/currentcolor/
 * https://www.paradigmadigital.com/dev/color-iconos-svg/
 * https://css-tricks.com/almanac/properties/f/fill/
 * http://www.thesassway.com/intermediate/spriting-with-sass-and-compass
 * https://thoughtbot.com/blog/removing-sass-duplication
 */

 /**
 * ICONS SOCIAL MEDIA
 * -------------------------------------------------------------------
 */


// ==> Icons Social Media
$icon-facebook   : url(‘assets/facebook.png’);
$icon-twitter    : url(‘assets/twitter.png’);
$icon-linkedin    : url(‘assets/linkedin.png’);
$icon-pinterest  : url(‘assets/pinterest.png’);
$icon-youtube    : url(‘assets/youtube.png’);
$icon-whatsapp    : url(‘assets/ywhatsapp.png’);

/*!
 *
 * ======================================================================
 * 00. ICONS
 * ======================================================================
 * 
 */

 /**
 * ICONS SOCIAL MEDIA
 * -------------------------------------------------------------------
 */


// ==> Icons Social Media
$icon-facebook   : url(‘assets/icons/facebook.svg’);
$icon-twitter    : url(‘assets/icons/twitter.svg’);
$icon-linkedin   : url(‘assets/icons/linkedin.svg’);
$icon-pinterest  : url(‘assets/icons/pinterest.svg’);
$icon-youtube    : url(‘assets/icons/youtube.svg’);
$icon-telegram   : url(‘assets/icons/telegram.svg’);
$icon-google     : url(‘assets/icons/google.svg’);
$icon-email      : url(‘assets/icons/email.svg’);
$icon-print      : url(‘assets/icons/print.svg’);


// ==> Icons Social Media Map

$social-media-icons: (
  facebook        : $icon-facebook,
  twitter         : $icon-twitter,
  linkedin        : $icon-linkedin,
  pinterest       : $icon-pinterest,
  youtube         : $icon-youtube,
  whatsapp        : $icon-whatsapp,
  telegram        : $icon-telegram,
  google          : $icon-google,
  email           : $icon-email,
  print           : $icon-print
)



// .icon {
//   $_icons: (
//       delete: icn-delete,
//       edit: icn-edit,
//       add: icn-add
//   );
//   &::before {
//       content: '';
//   }
//   @each $label, $icon in $_icons {
//       &--#{$label} {
//           &::before {
//               @include svg-sprite($icon);
//           }
//       }
//   }
// }