/*!
 *
 * ======================================================================
 * 00. UTILITIES
 * ======================================================================
 * 
 */


 @if $workspace == local {

  @include media-breakpoint-down(md) {

    body {
      background: #d2f6fc;
    }
  }

  @include media-breakpoint-down(sm) {

    body {
      background: #dbedf3;
    }
  }

  .test {
    background: #d5eeff;
  }

}



 /**
  * AUTO GRID - COLUMNS
  * -------------------------------------------------------------------
  * Set the minimum item size with `--auto-grid-min-size` and you'll
  * get a fully responsive grid with no media queries.
  *
  * .auto-grid {
  * --auto-grid-min-size: 16rem;
  * display: grid;
  * grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  * grid-gap: 1rem;
  * }
  */
 
.auto-grid {
  --auto-grid-min-size: 16rem;
}

.auto-grid > * {
  max-width: 400px;
}

.auto-grid > * + * {
  margin-top: 1rem;
}

@supports(display: grid) {
  .auto-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
  }
  
  .auto-grid > * {
    max-width: unset;
  }

  .auto-grid > * + * {
    margin-top: unset;
  }
}