/*!
 *
 * ======================================================================
 * 00. UTILITIES
 * ======================================================================
 * 
 */


 @if $workspace == local {

    @include media-breakpoint-down(md) {
  
      body {
        background: #ff9c87;
      }
    }
  
    @include media-breakpoint-down(sm) {
  
      body {
        background: #5d805a;
      }
    }
  
    .test {
      background: pink;
    }
  
  }
  