/*!
 *
 * ======================================================================
 * 00. VARIABLES
 * ======================================================================
 * 
 */


// ==> margins
$grid-width: 114rem;
$vertical-margin: 8rem;
$horizontal-margin: 6rem;

// ==> buttons
$base-radius: 3px;


