/*!
 *
 * ======================================================================
 * 00. HEADER
 * ======================================================================
 *https://amethystwebsitedesign.com/mega-menu-drop-down-navigation-for-genesis-themes-using-css/
 * https://koghi.com/Gobernacion-Quindio/KLID-impuesto-facil-pagar/blob/d6673d352295b24bd23fbdbbdd9e064736024634/app-klid/src/assets/sass/partials/_header.scss
 * 
 *https://codepen.io/Rabrennie/pen/WogNvV
 https://codepen.io/gabriellewee/pen/ybKxgB
 https://codepen.io/Twikito/pen/zGdqVO
 https://codepen.io/WispProxy/pen/GqzoYg
 https://codepen.io/jlnljn/pen/LkXoBb
 https://codepen.io/tonkec/pen/XXgdoo
 * https://freefrontend.com/css-dropdown-menus/ 
 * https://medialoot.com/blog/how-to-create-a-responsive-navigation-menu-using-only-css/
 * http://candpgeneration.com/toys/CSS3-dropdown-tut.php

 * https://codecanyon.net/category/css/navigation-and-menus?gclid=CjwKCAjw4MP5BRBtEiwASfwAL1HZ3JRUuXRbOWwUwl30uFoJZYx9QBa5R9X4yFANCFeSaS0lzI6RlRoCSD0QAvD_BwE&tags=dropdown

 https://www.jotform.com/blog/100-great-css-menu-tutorials/
  https://wpdatatables.com/css-mobile-menu/

  https://htmldog.com/techniques/dropdowns/
  https://www.w3docs.com/snippets/css/how-to-create-a-drop-down-navigation-menu-with-css.html

http://www.jumpeye.com/ui-elements/drop-down-menus.html
  https://css3menu.com/
  https://www.w3.org/WAI/tutorials/menus/flyout/
 ** https://materializecss.com/navbar.html 
 https://bulma.io/documentation/components/navbar/
 https://www.a11ywithlindsey.com/blog/create-accessible-dropdown-navigation
 https://bootstrap-menu.com/detail-animation.html
 https://mdbootstrap.com/docs/jquery/components/dropdowns/
 https://bitsofco.de/accessible-multi-level-dropdown-navigation/
 https://meta.discourse.org/t/custom-header-with-dropdown-navigation/33451

 https://www.codecademy.com/articles/bootstrap-menus-navbar-modals
https://catalin.red/animenu-a-responsive-dropdown-navigation-made-with-sass/
https://www.newmediacampaigns.com/blog/nicer-navigation-with-css-transitions-part-2
 _>>>>>nomenclatura
 https://leewarrick.com/blog/css-only-menus/
 https://shellcreeper.com/full-css-responsive-navigation-toggle-no-javascript/
 http://rbrtsmith.com/2014/12/handling-responsive-navigation
 https://codyhouse.co/gem/responsive-sidebar-navigation
 https://raidboxes.io/en/wordpress-agentur-freelancer-tarife/
https://www.cssscript.com/responsive-fixed-sidebar/
 https://www.cssscript.com/responsive-drawer-navigation-sz/
 https://www.cssscript.com/responsive-sticky-navbar/
 http://runelab.org/programming/javascript/classynav.html
https://coreui.io/docs/components/bootstrap/dropdowns/
https://tympanus.net/codrops/2012/10/04/custom-drop-down-list-styling/

https://www.decolore.net/30-modern-css-navigation-dropdown-menu-examples/

https://bootstrap-menu.com/detail-fixed-onscroll.html
http://websitetips.com/css/tutorials/menus/

https://frontbackend.com/css/css-dropdown-menus

 https://alistapart.com/article/the-story-of-css-grid-from-its-creators/

 https://morioh.com/p/ad700be63d98
 https://www.mrc-productivity.com/techblog/?p=1049
 https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/bootstrap-dropdowns.php
 https://behigh.github.io/bootstrap_dropdowns_enhancement/
 https://line25.com/tutorials/how-to-create-a-pure-css-dropdown-menu
 https://theme.co/forum/t/dropdown-menu-scrolling-in-navbar/15769
 https://freshdesignweb.com/jquery-css-drop-down-menu/
 https://bootsnipp.com/snippets/8k3
 https://speckyboy.com/pure-css-responsive-navigation/
 https://webdesign.tutsplus.com/tutorials/how-to-build-a-full-screen-responsive-page-with-flexbox--cms-32086
 */



/**
 * Simple-nav-menu
 * -------------------------------------------------------------------
 * https://www.gosquared.com/blog/semantic-responsive-website-navigation
 * https://medium.com/creative-technology-concepts-code/responsive-mobile-dropdown-navigation-using-css-only-7218e4498a99

*
* https://dottedsquirrel.com/css/pure-css-dropdown-navigation/
* https://codepen.io/connorbrassington/pen/raNrEW
* https://www.creativosonline.org/blog/menu-html-css.html
*
* https://w3bits.com/css-dropdown-menu/
https://w3bits.com/labs/css-dropdown-menu/3/
https://codepen.io/andornagy/pen/RNeydj
* https://css-snippets.com/drop-down-navigation/
* https://webdesign.tutsplus.com/articles/best-practices-for-responsive-dropdown-menus--cms-35212 
 https://codemyui.com/tag/drop-down/
 https://codecanyon.net/item/incoded-animated-menu-component/13391846
 https://codecanyon.net/category/css/navigation-and-menus?tags=dropdown,navigation&gclid=Cj0KCQjwg8n5BRCdARIsALxKb95lgD2ku6OABcHgngRpQ70FysjkYzf1eJYoOFD-ANpOokIk8WV9ydcaAoYgEALw_wcB
 https://www.hostinger.com/tutorials/how-to-create-simple-css-dropdown-menu
 http://fofwebdesign.co.uk/freebies-for-websites/css/multi-rwd-menu.htm
 http://www.menucool.com/drop-down-menu

 https://community.adobe.com/t5/dreamweaver/dropdown-menu-only-works-on-mobile-from-hamburger-but-not-on-desktop/td-p/10196651?page=1&profile.language=es
 *



*********
https://speckyboy.com/pure-css-responsive-navigation/
 https://codepen.io/ChucKN0risK/pen/gPzjed
 https://gomakethings.com/only-allowing-one-open-dropdown-at-a-time-with-the-details-element/
 https://codepen.io/marcobiedermann/pen/gReMQy


 ** ejemlo lidtado artivulos
 https://webdesign.tutsplus.com/es/articles/clean-wordpress-themes-to-make-modern-websites--cms-28757


 https://www.freecodecamp.org/news/mostly-css-drop-down-combo-boxes-4ff4bb182ff7/

 https://speckyboy.com/responsive-navigation-solutions/
 https://webdesign.tutsplus.com/articles/a-simple-responsive-mobile-first-navigation--webdesign-6074

 https://www.hongkiat.com/blog/drop-down-menu-30-free-scripts-to-enhance-header-navigation/
 https://www.bitdegree.org/learn/css-dropdown-menu

 https://osvaldas.info/drop-down-navigation-responsive-and-touch-friendly

 https://ed.team/comunidad/ayuda-menu-responsive-con-css



 ******* css grid 
 https://webdesign.tutsplus.com/tutorials/solving-problems-with-css-grid-and-flexbox-the-card-ui--cms-27468

 https://webdesign.tutsplus.com/tutorials/how-to-build-a-responsive-multi-level-sticky-footer-with-flexbox--cms-33341

 https://webdesign.tutsplus.com/articles/best-practices-for-responsive-dropdown-menus--cms-35212
 

 https://webdesign.tutsplus.com/tutorials/quick-tip-bem-naming-and-wordpress-filters-for-navigation--cms-31268
https://blog.teamtreehouse.com/create-an-absolute-basic-mobile-css-responsive-navigation-menu

https://ultimatecourses.com/blog/building-an-html5-responsive-menu-with-media-queries-javascript

 */
 .c-simple-nav {
  $this: &;

  $transition: 280ms all 120ms ease-out;


  &--top {
    position: sticky;
    top: 0;
    margin: 0 auto;
    padding: 0 1rem;
    width: 100%;
    // background: darken(#ecf0f1, 10%);
    background:#ecf0f1;
    color: #000;
  

    &__menu {

      margin: 0;
      padding: 0;
      list-style: none;
      // line-height: 45px;
      font-weight: 500;
      text-transform: uppercase;

      &-item {
        display: inline-block;
        position: relative;
        margin: 0 0.5rem;
        padding: 0;

        &:hover {
          .c-simple-nav--top__submenu {
            display: block;
            position: absolute;
            min-width: 15ch;
            left: 50%;
            top: calc(100% - 0.25rem);
            transform: rotateX(0) translateX(-50%);
            transform-origin: top center;
            opacity: 1;
            padding: 0.5em 0;
            border-radius: 4px;
            box-shadow: 0 0.15em 0.25em rgba(black, 0.25);
            transition: $transition;

          }
        }
      }
      &-link {
        display: inline-block;
        padding: 0.5rem 0.5rem;
        color: #000;
        line-height: inherit;
        text-decoration: none;
        text-align: center;
        border-top: 3px solid transparent;
        cursor: pointer;

        &:focus {
          outline: none;
        }

        &:hover,
        &:focus {
          border-top-color: #000;
          color: #000;
        }
      }
    }

    &__submenu {
      display: none;
      position: absolute;
      width: 220px;
      background:#ecf0f1;
      font-weight: 500;
      text-transform: none;
      z-index: 1;
      transition: $transition;
      &-item {
        &:hover {
          background: rgba(#000, 0.1);
        }
      }
      &-link {
        display: block;
        padding: 0 16px;
        line-height: inherit;
        cursor: pointer;
      }
    }
  }
}
