 /*!
 *
 * ======================================================================
 * 00. BASE
 * ======================================================================
 * 
 */


 /**
  * FLEXBOX GRID MIXINS (VARIABLES)
  * -------------------------------------------------------------------
  * CSS: @include grid(); ->  @include grid-col(3); | @include grid-col(9);
  * HTML: grid -> grid__col-3 | grid__col-9
  */

$default-grid-columns: 12;
$default-grid-gutter: 2%;

.grid {
	@include grid($gutter: $default-grid-gutter);

	@for $i from 1 through $default-grid-columns {
		> .grid__col-#{$i} {
			@include grid-col($col: $i, $grid-columns: $default-grid-columns, $gutter: $default-grid-gutter);
		}
	}
}

 /**
  * BASE
  * -------------------------------------------------------------------
  * 
  */

body {
  color: $clr-black;
  background: $clr-black-light;
  height: 400vh;
}

body {
    // background-color: $clr-base;
    background:#f8f7f5;
  }
  
  .Panel {
    background-color: $clr-white;
    padding: 25px;
  
    &-destacado {
      background-color: $clr-secondary;
    }
  }

// table styles
table {
  border: 1px solid $clr-table-border;
}

th {
  color: $clr-table-header-text;
}

td {
  color: $clr-table-text;
}

.row {
  max-width: $grid-width;
  background-color: $clr-grey-light;
  margin: 0 auto;
&:not(:last-child) {
    margin-bottom: $vertical-margin;
  }
}

// CSS Variable Syntax
.subtitle {
  color: var(--secondary-color);
}
.subtext {
  color: var(--secondary-color);
}

h2 {
  --h2-color: $clr-gray;
  color: var(--h2-color);
}


/*
  WRAPPER
  A utility with a max width that contains child elements and horizontal centers them
*/
.wrapper {
  max-width: 65rem;
  margin: 0 auto;
  padding: 0 1rem;
}


/* Presentational styles */

body {
  background: #efefef;
  // padding: 1rem 0;
  // line-height: 1.4;
  font-family: sans-serif;
}

.ul-li {
  padding: 5rem 1rem;
  text-align: center;
  font-size: 1.2rem;
  background: #22a6b3;
  color: #ffffff;
}


.main-demo{
  @include grid();

  &__container {}
  &__wrap {}
  &__right{
    @include grid-col(3);
    background:blue;
  }
  &__left{
    @include grid-col(9);
    background:red;
  }
  
}

.page-container{
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  margin: auto;
  background: black;
}

.body-container{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #a5c3e2;
}

.content-container{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0 2%;
}

.nav-container{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 240px;
  flex: 0 0 240px;
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  background:gray;
}

.aside-container{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 120px;
  flex: 0 0 120px;
  background: blue;
}


header,
footer {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}


header,
footer,
.content-container,
.nav-container,
.aside-container {
  background: #0e72da;
  border: 1px solid #130e7d;
  padding: 1em;
  color: #fff;
  text-align: center;
}

