/*!
 *
 * ======================================================================
 * 00. HEADER
 * ======================================================================
 * 
 */

$menu-background: #343e48;
$blue: #4795c3;
$grey: #686f77;
$yellow: #ecc64b;
$green: #0b9ea6;
$red: #f26667;

$color: rebeccapurple;
$color-dark: scale-color($color, $lightness: -30%);

$transition: 280ms all 120ms ease-out;

// ==> main-header
.c-main-header {
  $this: &;

  @include clearfix;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__top {
  }

  &__bottom {
  }

  &__left {
    // background: #222;
    // position: fixed;
    // z-index: 1;
  }

  &__right {
  }

  &__logo {
  }

  &__sub-menu {
  }

  &__menu {
  }

  &__social {
  }
}

// ==> sub-menu
.c-sub-menu {
  $this: &;

  &__list {
    display: flex;
  }

  &__item {
    margin-left: 20px;

    // & + & {
    //   margin-left: 20px;
    // }
  }

  &__link {
    width: 29px;
    height: 25px;

    .is-newsletter & {
      @include background-image("icons/user-black.svg", right, $black);
    }
  }
}

// ==> main-menu
.c-main-menu {
  $this: &;
  // position: sticky;
  //   top: 0;

  &__list {
    // display: flex;

    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    min-width: 535px;
    background-color: #343e48;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      //  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB9JREFUeNpiZmBg6AZiDiBWZ4YyQMCOCcYA4kMAAQYAHyYCCUdxidgAAAAASUVORK5CYII=');
    }

    box-shadow: 0 3px 8px rgba(black, 0.5);
  }

  &__item {
    margin: 0 auto;
    display: inline-block;
    list-style: none;
    padding: 0;

    // & + & {
    //   margin-left: 30px;
    // }

    &.is-more {
      #{$this}__link {
        cursor: pointer;
        &:after {
          content: "";
          display: inline-block;
          width: 10px;
          height: 8px;
          margin-left: 4px;
          @include background("icons/icon-dropdown.svg");
          @include transition;
        }
        &.is-open {
          &:after {
            transform: rotate(180deg);
            @include transition;
          }
        }
      }
    }

    &.is-subscription {
      display: none;
    }
  }

  &__text,
  &__link {
    @include font(
      $ff: $ff-secondary,
      $fw: $fw-bold,
      $fs: 15px,
      $lh: 18px,
      $co: $clr-black
    );
    text-transform: uppercase;
    &:focus {
      outline: none;
    }
  }

  &__title {
    &:focus {
      outline: none;
    }
  }

  &__link {
    // padding: 0;

    display: block;
    padding: 25px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    text-shadow: 1px 0px rgba(black, 0.4);
    color: $grey;
    letter-spacing: 0.2em;
    text-decoration: none;
    transition: color 200ms;
    transform-style: preserve-3d;
    &:hover {
      color: $menu-background;
    }
    &:after {
      content: attr(data-title);
      position: absolute;
      display: block;
      text-shadow: none;
      top: 29%;
      left: 18px;
      padding: 10px 10px;
      color: transparent;
      background: $blue;
      li:nth-child(2) & {
        background: $yellow;
      }
      li:nth-child(3) & {
        background: $green;
      }
      li:nth-child(4) & {
        background: $red;
      }
      transform-origin: 50% 0%;
      backface-visibility: hidden;
      transform: translate3d(0px, 105%, 0px) rotateX(-112deg);
      transform-style: preserve-3d;
      transition: all 200ms ease;
      z-index: -1;
    }
    &:hover:after {
      transform: rotateX(0deg) translateZ(0px);
    }
  }
}

// ==> dropdown-menu
.c-dropdown-menu {
  $this: &;
  position: relative;

  &__title {
    display: inline-flex;
    align-items: center;
    pointer-events: none;
    
    &:after {
      content: "";
      border: 0.35rem solid transparent;
      border-top-color: rgba(#fff, 0.45);
      margin-left: 0.25em;
      transform: translateY(0.15em);
    }
    &:focus {
      outline: none;
    }

  }

  &__list {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    min-width: 15ch;
    left: 50%;
    top: calc(100% - 0.25rem);
    transition: $transition;
    transform: rotateX(-90deg) translateX(-50%);
    transform-origin: top center;
    opacity: 0.3;
    padding: 0.5em 0;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0.15em 0.25em rgba(black, 0.25);
  }

  &__item {
      padding: 0;
  }

  &__text,
  &__link {
    &:focus {
      outline: none;
    }
  }

  &__link {
    color: $color-dark;
    display: block;
    padding: 0.5em;
    opacity: 0;
    transition: $transition;

    &:hover {
      background-color: rgba($color, 0.15);
    }

    &:focus {
      outline: none;
      background-color: rgba($color, 0.25);
    }
  }

  &:after {
    content: "";
    border: 0.5rem solid transparent;
    border-bottom-color: #fff;
    position: absolute;
    top: calc(100% - 1.25rem);
    left: 50%;
    transform: translateX(-50%);
    transition: $transition;
    opacity: 0;
    will-change: opacity;
  }

  &:hover,
  &:focus-within {

    #{$this}{

      &__title {
        border-top-color: pink;
      }

      &__list {
        opacity: 1;
        transform: rotateX(0) translateX(-50%);
  
        a {
          opacity: 1;
        }
      }
    }

    &:after {
      opacity: 1;
    }
  }

}

// ==> main-logo
.c-main-logo {
  &__link {
  }
  &__img {
    // background-image: url();

    // :hover, :focus {
    //   filter:
    //     invert(27%)
    //     sepia(51%)
    //     saturate(2878%)
    //     hue-rotate(346deg)
    //     brightness(104%)
    //     contrast(97%);
    // }
  }
}

