/*!
 *
 * ======================================================================
 * 00. NEWSLETTER FLOW
 * ======================================================================
 * 
 */

 .c-subscribe {
    background:#3f3f3f;
    @include opacity(1);
    @include border(5px,solid,rgba(14, 36, 58, 0.66),all);
    @include border-radius(1em);
    // @include box-shadow(0, 5px, 5px, rgba(0, 0, 0, 0.7));


    &__wrapper {
        margin: 0 auto;
    }

    &__title {
        @include fs-big;
        font-weight: $fw-bold;
    }

    &__desc {
        @include fs-medium;
        // color: $co-textgrey;
    }

    &__form {}

}

.c-subscribe-modal {
    @include border(5px,solid,rgba(14, 36, 58, 0.66),all);

    &__wrapper {}
    &__content {}
    &__close {}
    &__title {}
    &__desc {}
    &__form {}

}

.c-unsubscribe {
    @include border(5px,solid,rgba(14, 36, 58, 0.66),all);

    &__wrapper {
        max-width: 500px;
        margin: 0 auto;
    }

    &__title {
        @include fs-big;
        font-weight: $fw-bold;
    }

    &__desc {
        @include fs-medium;
        // color: $co-textgrey;
    }

    &__form {}

    &.loading {
        position: relative;
        form {
          opacity: 0.4;
        }
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 70px;
          height: 70px;
          @include background("icons/icon-loading.svg", center, 100%);
        }
      }

}

@include media-breakpoint-down(xs) {

    .c-form {

        &__field, &__action {
            display: block;
            width: 100%;
            margin-bottom: 10px;
        }

        &__submit {
            width: 100%;
        }

    }
}
