.c-main-boxes{
    $this: &;

    border-style: solid;
    height: 0;
    width: 100%;

    &__image{
        // @include corner-bevel-veryold();
        // You have to have to add margin to the elements
        margin: 40px 0;
    }
    &__text{
        margin: 0;
        padding-bottom: 20px;
        &:last-child {
            padding-bottom: 0;
        }
    }

    &__button{
        @include button(10px 20px,blue, 10px, red);
    }
}