
/*!
 *
 * ======================================================================
 * 00. SLIDER
 * ======================================================================
 * 
 */
// Settings
$amount-slider-imgs: 7;
$animation-time: 6s * $amount-slider-imgs;


// keyframes mixin
@mixin generate-slide-keyframes($pics){
    @for $i from 0 to $pics{
        $img-width: (100 / $pics);
        $dur: (100% * ($pics - ($pics - 1))) / ($pics * ($pics - 1));
        $p: (($i * $img-width) + ($i * $dur));
        $l: ($i * 100% * -1);
        $s: $p + $img-width;

        #{$p} { left: $l; }

        @if $s <= 100% {
            #{$s} { left: $l; }
        }
    }
}

// slide content keyframes
@mixin generate-slide-content-keyframes($picNum, $total){
    $i: $picNum - 1;
    $img-width: (100 / $total);
    $dur: (100% * ($total - ($total - 1))) / ($total * ($total - 1));
    $p: (($i * $img-width) + ($i * $dur));
    $s: $p + $img-width;

    #{$p} {
        opacity: 0;
        top: 20%;
    }
    #{$p + 1}{
        opacity: 1;
    }
    #{$p + 3}{
        top: 50%;
    }
    #{$s - 1}{
        opacity: 1;
    }
    #{$s} {
        opacity: 0;
        top: 50%;
    }
}

// the smallest reset ever
// body{ margin: 0; padding: 0; background: black; }

.c-slider{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &__content{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: auto;
        max-height: 100%;
        overflow: auto;
        color: white;
        opacity: 0;
        overflow: hidden;
    }

    &__wrap{
        position: relative;
        width: $amount-slider-imgs * 100%; // calculate the width of the image strip
        height: 100%;
        margin: 0;
        left: 0;
        text-align: left;
        animation: $animation-time slidy infinite;
    }
    &__img{
        width: 100% / $amount-slider-imgs;
        float: left;
        height: 100%;
        position: relative;
        background: {
            size: cover;
            position: center;
        }

        @for $i from 1 to $amount-slider-imgs {
            &:nth-of-type(#{$i}){
                .c-slider__content{
                    animation: $animation-time c-slider__img#{$i}c-slider__content infinite;
                }
            }
        }
    }
}

@keyframes slidy {
    @include generate-slide-keyframes($amount-slider-imgs);
}

@for $i from 1 to $amount-slider-imgs {
    @keyframes c-slider__img#{$i}c-slider__content{
        @include generate-slide-content-keyframes($i, $amount-slider-imgs);
    }
}