.c-pseudo{
    &__title{
        // @include pseudo-element('before') {
        //     //  content: ''; 
        //     @include pseudo-content($encoded-wedge, $height, $width);
        // }

    }
}

.new-button{
    @include button(#000, solid, bordered, normal);
    // background: none;
    // border: none;
    // cursor: pointer;
    // line-height: 1.5;
    // font: 700 1.2rem 'Roboto Slab', sans-serif;
    // padding: 1em 2em;
    // letter-spacing: 0.05rem;
    
    // &:focus { outline: 2px dotted #55d7dc; }

    // @include btn-border-drawing(#58afd1, #ffe593, 4px, bottom, right);
    @include buttonColors($violet-base);


}


.heading-hs{
    #{headings(0,1)} {
        color: blue;
      }

}

.viewport-text{
    // font-size: get-vw(72px);
    @include vw(72px);

}

.flex-box {
    width: 90%;
    max-width: $max-width;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  .card-box {
    padding: 10px;
    border: 1px solid #eee;
    margin: $gutter;
    @media (min-width: 576px) { 
      flex: 1 per-line(2); // Forces 2 flex items per line
    }
    @media (min-width: 992px) {
      flex-basis: per-line(3); // Forces 3 flex items per line       
    }
    @media (min-width: 1200px) { 
      flex-basis: per-line(4);  // Forces 4 flex items per line    
    }
    h1{
        font-size:20px;
    }
  }


  .features, .products, .compare {
    @include row;
    margin-bottom: 50px;
  }
  
  .features article {
    @include col(1, 3);
  }
  
  * {
    box-sizing: border-box;
  }